body {
    font-family: 'Overpass', sans-serif;
    background-color: #141519;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Typography */

h1{
    font-size: 25px;
    font-weight: 700;
    color: whitesmoke;
    align-self: self-start;
    margin-bottom: 0px;
    margin-top: 30px;
}

p{
    font-size: 15px;
    font-weight: 400;
    color: #6c737d;
}

/* Layout */

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 320px;
    background: linear-gradient(#212832, #171e26);
    padding: 25px;
    border-radius: 30px;
}

.star-container {
    display: flex;
    min-width: 40px;           
    min-height: 40px; 
    max-width: 40px;           
    max-height: 40px;          
    background-color: #262f38;
    border-radius: 50%;    
    justify-content: center;
    align-items: center;
    align-self: self-start;
    margin-top: 20px;
}

.star {
    width: 15px;
    height: 15px;
}

/* Score buttons */

.score-buttons{
    display: flex;
    margin: auto;
    justify-content: center;
}

fieldset{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 15px

}

fieldset button{
    font-family: 'Overpass', sans-serif;
    background-color: #262f38;
    border: none;
    color: #88909d;
    padding: 15px 20px;
    border-radius: 50px;
    font-weight: 700;
}

fieldset button:hover{
    background-color: #fffffd;
    color: #313132;
    cursor: pointer;
}

fieldset button:active, fieldset button:focus{
    background-color: #fa7715;
    color: #313132;
    cursor: pointer;
}

/* Submit button */

.submit-container{
    display: flex;
    margin: auto;
    justify-content: center;
    width: 300px;
    margin-bottom: 10px;
}

.submit-btn{
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color:#313132;
    background-color: #fa7715;
    border: none;
    margin-top: 15px;
    border-radius: 20px;
    padding: 10px 123px;
    cursor: pointer;
}

.submit-btn:hover, .submit-btn:hover{
    background-color: #ffffff;
}